<!DOCTYPE html>
<html>
  <head>
    <title><%= ejs %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= ejs %></h1>
    <p><%= ejs %>로 만든 첫페이지 입니다. by <%=ejs%></p>
 
    <ul>
        <%for(var i=0;i<5;i++){ %>
          <li><%=ejs%></li> <!--node.js 반복문-->
        <%}%>
    </ul>
  </body>
</html>
